*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --secondary-color: #fbfaff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.mt-30 {
    margin-top: 30px;
}

/* ===== HEADER ===== */

.header {
    padding: 40px 0;
    background: #fbfaff;
}

.header__inner {
    position: relative;
    padding: 0 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__mail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#ebe7fe .header__logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.header__email-name {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3rem; /* 136.364% */
    text-decoration-line: underline;
}

.header__email-name:hover {
    opacity: 0.85;
}

.emoji {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.emoji-img {
    width: 50%;
}

.header__nav-list {
    display: flex;
    column-gap: 43px;
}

.header__nav-item {
    color: #51586a;
    font-size: 1.8rem;
}

.header__nav-item:hover {
    text-decoration: underline;
}

/* ===== HERO ===== */

.hero {
    padding-top: 44px;
    background: #fbfaff;
}

.hero__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.hero__left {
    width: 514px;
}

.hero__avatar {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 705px;
    object-fit: cover;
}

.hero__right {
    margin-bottom: 38px;
    width: 500px;
    align-self: flex-end;
}

.hero__heading {
    color: #080415;
    font-family: DM Sans;
    font-size: 8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7.6rem; /* 95% */
    letter-spacing: -0.32rem;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
    color: #51586a;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.hero__cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__btn-call,
.hero__btn-work {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem; /* 166.667% */
}

.hero__btn-call {
    padding: 16px 37px;
    background: #5d3bee;
    color: #fdfdfd;
    transition: 0.25s;
}

.hero__btn-call:hover {
    background: #fdfdfd;
    color: #5d3bee;
    border: 2px solid #5d3bee;
}

.hero__btn-work {
    color: #080415;
    text-decoration-line: underline;
    transition: 0.25s;
}

.hero__btn-work:hover {
    color: #5d3bee;
}

.hero__follow {
    margin-top: 104px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.hero__follow-text {
    margin-right: 15px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem; /* 187.5% */
}

.hero__social {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0.031, 0.016, 0.082, 0.1);
    transition: 0.25s;
}

.hero__social:hover {
    border: 1px solid #ebe7fe;
    background-color: #ebe7fe;
}

.hero__decor-1 {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: -210px;
}

.hero__decor-2 {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: -168px;
}
/* ===== CLIENTS ===== */

.clients {
    margin-top: 98px;
}

.clients__inner {
    display: flex;
    justify-content: space-between;
}

.clients__heading {
    display: flex;
    gap: 12px;
    width: 336px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5rem; /* 119.048% */
    letter-spacing: -0.168rem;
}

.clients__heading::before {
    margin-top: 22px;
    content: "";
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
}

.client__list {
    width: 710px;
    display: grid;
    row-gap: 34px;
    grid-template-columns: repeat(4, auto);
}

.client__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.client__item:nth-child(1) .client__item-img-wrap {
    background-color: transparent;
}

.client__item:nth-child(2) .client__item-img-wrap {
    background-color: #fbfaff;
}

.client__item:nth-child(3) .client__item-img-wrap {
    background-color: #fee101;
}

.client__item:nth-child(4) .client__item-img-wrap {
    background-color: #f00;
}

.client__item:nth-child(5) .client__item-img-wrap {
    background-color: #14a800;
}

.client__item:nth-child(6) .client__item-img-wrap {
    background-color: #fff;
}

.client__item-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: orange;
}

.client__item-name {
    font-size: 1.8rem;
    font-weight: 700;
}
/* ===== SPECIALTIES ===== */

.specialties {
    margin-top: 140px;
}

.spec__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.spec__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
}

.spec__desc {
    width: 534px;
    margin-top: 20px;
    color: #51586a;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
}

.spec__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.spec__item {
    padding: 32px 42px;
    background: #fbfaff;
    transition: box-shadow 0.25s, transform 0.25s;
}

.spec__item:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 50px -12px;
    transform: translateY(-10px);
}

.spec__item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border: 1px solid #0804150d;
    border-radius: 50%;
}

.spec__item:nth-child(1) .spec__item-img {
    filter: drop-shadow(0px 10px 20px rgba(247, 222, 136, 1));
}

.spec__item:nth-child(2) .spec__item-img {
    filter: drop-shadow(0px 10px 20px rgba(174, 188, 206, 1));
}

.spec__item:nth-child(3) .spec__item-img {
    filter: drop-shadow(0px 10px 20px rgba(24, 64, 88, 1));
}

.spec__item-heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
}

.spec__item-desc {
    margin-top: 15px;
    color: #51586a;
    font-family: DM Sans;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
}
/* ===== PROJECT ===== */
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}

.project__inner {
}

.project__header {
    display: flex;
    column-gap: 160px;
    align-items: center;
}

.project__heading {
    width: 468px;
    color: #fff;
    font-family: DM Sans;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
}

.project__desc {
    margin-right: 172px;
    width: 370px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
    opacity: 0.7;
}

.project__list {
    margin-top: 70px;
}

.project__item {
    padding: 24px 24px 24px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fbfaff;
    transition: box-shadow 0.25s, transform 0.25s;
}

.project__item:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px,
        rgba(255, 255, 255, 0.1) 0px 8px 24px,
        rgba(255, 255, 255, 0.1) 0px 16px 48px;
    transform: translateY(-10px);
}

.project__item-content {
    text-align: left;
}

.project__item-heading {
    color: #080415;
    font-family: DM Sans;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
}

.project__item-desc {
    width: 220px;
    margin-top: 10px;
    color: #51586a;
    font-family: DM Sans;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.project__item-more {
    margin-top: 20px;
    color: #080415;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem; /* 166.667% */
    text-decoration: underline;
}

.project__item-media {
    position: relative;
    width: 246px;
}

.project__item-img {
    position: relative;
    width: 100%;
    height: 187px;
    object-fit: cover;
    z-index: 1;
}

.project__item-decor {
    width: 170%;
    position: absolute;
    bottom: -24px;
    left: -125px;
}

.project__view-all {
    margin-top: 80px;
    padding: 16px 34px;
    background: #fff;
    color: #080415;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem; /* 166.667% */
    border: 1px solid transparent;
    transition: 0.25s;
}

.project__view-all:hover {
    color: var(--secondary-color);
    background-color: #ffffff20;
    border: 1px solid var(--secondary-color);
}
/* ===== EXPERIENCE ===== */
.experience {
    position: relative;
    padding: 140px 0 74px;
    background: linear-gradient(to bottom, #fff 50%, #fbfaff 50%);
}

.exp__decor {
    position: absolute;
    bottom: 0;
    width: 18%;
}

.exp__decor-left {
    left: 0;
}

.exp__decor-right {
    right: 0;
}

.exp__header-top {
    text-align: center;
}

.exp__tag {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
}

.exp__heading {
    margin-top: 10px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
}

.exp__desc {
    margin: 15px auto 0;
    width: 570px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.exp__header-bottom {
    padding: 20px 0;
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}

.exp__header-bottom::before,
.exp__header-bottom::after {
    position: absolute;
    content: "";
    display: block;
    width: 946px;
    height: 1px;
    background-color: #080415;
    opacity: 0.2;
}

.exp__header-bottom::before {
    top: 0;
}

.exp__header-bottom::after {
    bottom: 0;
}

.exp__stats-number {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 7.6rem; /* 135.714% */
    letter-spacing: 0.168rem;
    text-decoration-line: underline;
}

.exp__stats-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
}

.exp__media {
    margin-top: 70px;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.exp__media-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.exp__response {
    margin-top: 150px;
    text-align: center;
}

.exp__response-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
}

.exp__response-desc {
    margin: 0 auto;
    width: 570px;
    margin-top: 20px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
}

.exp__response-comment {
    margin: 0 auto;
    width: 679px;
    margin-top: 60px;
    color: #51586a;
    font-size: 2.4rem;
    line-height: 4rem; /* 166.667% */
}

.exp__response-user {
    margin-top: 36px;
}

.exp__response-people {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}

.exp__response-avatar {
    width: 39px;
    height: 39px;
    object-fit: cover;
    border-radius: 50%;
}

.exp__response-name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem; /* 133.333% */
}

.exp__response-role {
    color: #51586a;
    font-size: 1.6rem;
    line-height: 2.9rem; /* 181.25% */
}

.exp__dots {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.exp__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #08041533;
}

.exp__dot:hover {
    background-color: #5d3bee;
    opacity: 0.5;
    cursor: pointer;
}

.exp__dot--active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5d3bee;
    opacity: 1;
    border: 3.5px solid #fff;
    outline: 1.5px solid #5d3bee;
}

.exp__dot--active:hover {
    opacity: 1;
    cursor: default;
}

/* ===== QUESTION ===== */
.question {
    margin: 95px;
}

.question__heading {
    width: 575px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem;
    letter-spacing: -0.224rem;
}

.question__qa-list {
    margin-top: 80px;
}

.question__qa {
    margin-top: 60px;
    width: 1010px;
}

.question__qa + .question__qa {
    margin-top: -3px;
}

.question__qa-content {
    margin-left: 22px;
}

.question__qa-heading {
    margin-left: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
    cursor: pointer;
    user-select: none;
    transition: 0.25s;
}

.question__qa-desc {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    width: 487px;
    margin-top: 23px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.question__target:checked ~ .question__qa-content .question__qa-desc {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.question__qa-label {
    display: flex;
    justify-content: space-between;
}

.question__qa-more {
    transition: 0.25s;
}

.question__qa-less {
    display: none;
    transition: 0.25s;
}

.question__target:checked ~ .question__qa-label .question__qa-heading {
    color: var(--primary-color);
}

.question__target:checked ~ .question__qa-label .question__qa-more {
    display: none;
}

.question__target:checked ~ .question__qa-label .question__qa-less {
    display: block;
}

.question__target:checked ~ .question__qa-line {
    margin-top: 21px;
    margin-bottom: 60px;
    background-color: var(--primary-color);
    transform: translateY(0);
}

.question__qa-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 1px solid #161a1c33;
    user-select: none;
    cursor: pointer;
}

.question__qa-line {
    margin-top: 11px;
    width: 100%;
    height: 2px;
    background-color: #08182f;
    transform: translateY(-79px);
    transition: 0.25s;
}

/* ===== ATMOSPHERE ===== */
.atmosphere {
    margin-top: 65px;
}

.atm__header {
    text-align: center;
}

.atm__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
}

.atm__desc {
    margin: 0 auto;
    margin-top: 20px;
    width: 528px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
}

.atm__tag {
    margin-top: 30px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem; /* 125% */
    letter-spacing: -0.128rem;
    text-decoration: underline;
}

.atm__media {
    margin-top: 70px;
}

.atm__media-wrap {
    width: 370px;
    overflow: hidden;
}

.atm__media-img {
    width: 100%;
    height: 529px;
    object-fit: cover;
    transition: 0.25s;
}

.atm__media-img:hover {
    transform: scale(108%);
}
/* ===== CONTACT ===== */

.contact {
    position: relative;
    margin: 140px auto 0;
    width: 1330px;
    background: #fbfaff;
    text-align: center;
}

.contact__info {
    position: relative;
    z-index: 2;
}

.contact__img {
    margin-top: 68px;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.contact__heading {
    margin-top: 12px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem; /* 117.857% */
    letter-spacing: -0.224rem;
}

.contact__desc {
    margin: 0 auto;
    width: 570px;
    margin-top: 20px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
}

.contact__cta {
    margin: 30px 0 68px 0;
    display: inline-block;
    padding: 20px 40px;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem; /* 166.667% */
    transition: 0.25s;
}

.contact__cta:hover {
    opacity: 0.85;
}

.contact__decor {
    width: 20%;
    position: absolute;
}

.contact__decor-center {
    width: 64%;
    top: 0;
    left: 240px;
}

.contact__decor-left {
    left: 0;
    bottom: 0;
}

.contact__decor-right {
    top: 0;
    right: 0;
}
/* ===== FOOTER ===== */

.footer {
    margin: 50px auto 30px;
    width: 1429px;
}

.footer__inner {
    margin-bottom: 70px;
}

.copyright {
    padding-top: 18px;
    display: flex;
    border-top: 1px solid #0c072033;
}

.copyright__text,
.copyright__policy,
.copyright__terms {
    color: #525771;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
    opacity: 0.6;
}

.copyright__text {
    margin-left: 129px;
    margin-right: auto;
}

.copyright__policy {
    margin-right: 23px;
}

.copyright__terms {
    padding-left: 13px;
    border-left: 1px solid #0c072033;
    margin-right: 147px;
}
